html {
    height: 100%;
	}

body {
  height: 95%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin: 10px 20px;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f6f7f8), to(white));*/
}

h1,h2,h3,h4 {
	color: #bf2a36;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 8px;
}

h3{
  font: 14px "Gotham Book", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

a {
  color: #00B7FF;
}

p{
  color: #bf2a36;
  font: 14px "Gotham Book", Helvetica, Arial, sans-serif;
}

select{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFCCCC), to(#FF6666));
  background-color: #FF6666;
  color: black;
}

select:disabled{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#CCCCCC), to(gray));
  background-color: white;
  color: white;
}

label{
  color: #bf2a36;
  font-size: 14px;
  width: auto;
  /*text-align: center;*/
}

.logoDF{
  background-size: 50% 60%;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("/images/grafica_corporativa_positivo.png");
}

.listbox{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFCCCC), to(#FF6666));
  background: linear-gradient(to right, #FFCCCC,#FF6666); /* Standard syntax (must be last) */
  background-color: #CC9966;
  color: white;
  border: 1px solid; 
  border-color: #bf2a36 
}

.textbox{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFCCCC), to(#FF6666));
  background: linear-gradient(to right, #FFCCCC,#FF6666); /* Standard syntax (must be last) */
  color:black;
}

.textbox:disabled{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#CCCCCC), to(gray));
  background: linear-gradient(to right, #CCCCCC,gray); /* Standard syntax (must be last) */
  color: white;
}

.UriTextbox{
  background:-webkit-gradient(linear, 80% 20%, 10% 21%, from(#FFCCCC), to(#FF6666));
  background: linear-gradient(to right, #FFCCCC,#FF6666); /* Standard syntax (must be last) */
  color:black;
  width: 350px
}

.tab:hover {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #CFACB1,  #EE2121);
  background: -ms-linear-gradient(top,  #CFACB1,  #EE2121);
  background: -webkit-gradient(linear, left top, left bottom, from(#CFACB1), to(#EE2121));
  background: -moz-linear-gradient(top,  #CFACB1,  #EE2121);
}

.tab:checked {
  color: #14396A;
  background: #468CCF;
  background: linear-gradient(top,  #CFACB1,  #EE2121);
  background: -ms-linear-gradient(top,  #CFACB1,  #EE2121);
  background: -webkit-gradient(linear, left top, left bottom, from(#CFACB1), to(#EE2121));
  background: -moz-linear-gradient(top,  #CFACB1,  #EE2121);
}

.disabledDiv {
    pointer-events: none;
    position:relative;
    display: block;
    opacity: .2;
    /*border: 5px solid red;*/
    padding: 10px;
    margin: 0;     
 /*   -webkit-box-shadow: 11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    -moz-box-shadow:    11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    box-shadow:         11px 11px 5px 0px rgba(7, 7, 7, 0.75);
*/  }

.ButtonNucleo {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#bf2a36;
  font-family:arial;
  font-size:12px;
  padding:7px 10px;
  min-width: 45px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  text-align: center;
}

.ButtonNucleo:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bab1ba), color-stop(1, #ededed));
  background:-moz-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-webkit-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-o-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:-ms-linear-gradient(top, #bab1ba 5%, #ededed 100%);
  background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bab1ba', endColorstr='#ededed',GradientType=0);
  background-color:#bab1ba;
}

input[type="file"] {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #bab1ba));
  background:-moz-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-webkit-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-o-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:-ms-linear-gradient(top, #ededed 5%, #bab1ba 100%);
  background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#bab1ba',GradientType=0);
  background-color:#ededed;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#bf2a36;
  font-family:arial;
  font-size:12px;
  padding:7px 10px;
  min-width: 45px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  text-align: center;
}

.ButtonNucleoOccuped {
  -moz-box-shadow: 3px 4px 0px 0px #899599;
  -webkit-box-shadow: 3px 4px 0px 0px #899599;
  box-shadow: 3px 4px 0px 0px #899599;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FFFFD6), color-stop(1, #FFFF99));
  background:-moz-linear-gradient(top, #FFFFD6 5%, #FFFF99 100%);
  background:-webkit-linear-gradient(top, #FFFFD6 5%, #FFFF99 100%);
  background:-o-linear-gradient(top, #FFFFD6 5%, #FFFF99 100%);
  background:-ms-linear-gradient(top, #FFFFD6 5%, #FFFF99 100%);
  background:linear-gradient(to bottom, #FFFFD6 5%, #FFFF99 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD6', endColorstr='#FFFF99',GradientType=0);
  background-color:#FFFFD6;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
  border-radius:15px;
  border:1px solid #d6bcd6;
  display:inline-block;
  cursor:pointer;
  color:#bf2a36;
  font-family:arial;
  font-size:12px;
  padding:7px 10px;
  min-width: 75px;
  text-decoration:none;
  text-shadow:0px 1px 0px #e1e2ed;
  text-align: center;
}

.ButtonNucleoOccuped:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #E6E68A), color-stop(1, #FFFFD6));
  background:-moz-linear-gradient(top, #E6E68A 5%, #FFFFD6 100%);
  background:-webkit-linear-gradient(top, #E6E68A 5%, #FFFFD6 100%);
  background:-o-linear-gradient(top, #E6E68A 5%, #FFFFD6 100%);
  background:-ms-linear-gradient(top, #E6E68A 5%, #FFFFD6 100%);
  background:linear-gradient(to bottom, #E6E68A 5%, #FFFFD6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFD6', endColorstr='#E6E68A',GradientType=0);
  background-color:#FFFFD6;
}

.NotAllowedTd{
  cursor:not-allowed !important;
}

.NotAllowedBtn{
  pointer-events:none !important;
}

.ButtonNucleo:active {
  position:relative;
  top:1px;
}

.list
{
margin: 0;
padding: 0;
border: 2px solid gray;
list-style-type: none;
width:50%; 
margin-left: 25%;
overflow-y: auto;
}

.list li 
{ 
  margin: 0 0 .2em 0; 
  padding: 2px;
}

.list a
{
display: block;
color: #FFF;
background-color: #036;
/*width: 190px;*/
padding: .2em .8em;
text-decoration: none;
}

.list a:hover
{
background-color: #369;
color: #FFF;
}

.center {
    position: relative;
    left: 125px;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.efecto-espejo {
 -webkit-box-reflect: below -15px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
}

.menu {
  float: left;
  width: 165px;
  height: auto;
  padding: 0 0 10px 0;
  margin-top: 8px;
  margin-bottom: 10px;
  border: 1px solid #C1022C;
  border-radius: 5px 5px 5px 5px;
  overflow: hidden;
}

.menu h3 {
  margin-top: 0;
  background-color: #C1022C;
  color: white;
  padding-left: 10px;
  font-size: 10pt;
  height: 16px;
  border-radius: 5px 5px 0 0;
}

.menuList {
    margin-top: 0px;
    border-top-width: 0px;
    padding-left: 0;
    margin-bottom: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    height: 425px;
    min-width: 145px;
    padding-top: 8px;
    /*max-height: 430px;*/
    overflow-y: auto;
  }

.treeList {
    margin-top: 0px;
    border-top-width: 0px;
    padding-left: 0;
    margin-bottom: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    height: auto;
    min-width: 145px;
    padding-top: 8px;
    max-height: 450px;
    overflow-y: auto;
  }

.menuListDisabled{
    border: 1px solid #f1d7d7 !important;
    border-right: 3px solid #f1d7d7 !important;
    border-bottom: 3px solid #f1d7d7 !important;
    cursor:not-allowed !important;
}

.menuListDisabled a{
    color: #f1d7d7 !important;
    cursor:not-allowed !important;
    background-color: white !important;
    pointer-events: none;
}

.menuList li{
    display: block;
    width: 85%;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    font: bold 12px verdana, sans-serif;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    border: 1px solid #C1022C;
    border-right: 3px solid #C1022C;
    border-bottom: 3px solid #C1022C;
    border-radius: 0 5px 0 0;
    border-left: 0;
    cursor:pointer;
}

.menuList li:hover > * {
    display: block;
    background-color: #C1022C;
    color: white;
}

.menuList li a  {
    color: #C1022C;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 6px;
}

.menuList li a:hover {
    font-weight: bold;
    color: white;
}

.treeList li{
    display: block;
    width: 85%;
    list-style: none;
    padding-top: 0;
    padding-bottom: 0;
    font: bold 12px verdana, sans-serif;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    border: 1px solid #C1022C;
    border-right: 3px solid #C1022C;
    border-bottom: 3px solid #C1022C;
    border-radius: 0 5px 0 0;
    cursor:pointer;
    background-color: white;
}

.treeList li a{
    color: #C1022C;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 6px;
}

.treeList li:hover{
    display: block;
    background-color: #FCB5C7;
    color: #C1022C;
}

.treeList li li{
      border-left: 3px solid #650117;
}

.treeList li li:hover {
    display: block;
    background-color: #F96C90;
    color: white;
}

.treeList li li li:hover {
    display: block;
    background-color: #F50A45;
    color: white;
}

.treeList li li li a:hover {
    /*display: block;*/
    background-color: #F50A45;
    color: white;
}

/* Verde claro */ 
.VivaSincro{  
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color:#99FF66 !important;
  color: #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
 }
/* Verde claro */
.VivaSincroSite{
    font: bold 12px verdana, sans-serif;
    display: block;
    background-color:#99FF66 !important;
    color: #C1022C !important;
    width: auto;
    border: 0px solid #C1022C;
    border-radius: 0 5px 0 0;
}

/*
  Amarillo
 */
.VivaNoSincro{
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color: #ffff99 !important;
  color: #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
}

/*
  Naranja
 */
.apply{
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color:#FFB366 !important;
  color: #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
}

/*
  Verde oscuro
 */
.VivaNoActiva{
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color:#206600 !important;
  color: #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
}

/*
  Azul oscuro
 */
.NoVivaNoActiva{
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color:#004D99 !important;
  color: #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
 }

/*
  Azul claro
 */
.NoVivaActiva{
  font: bold 12px verdana, sans-serif;
  display: block;
  background-color:#80BFFF !important;
  color:  #ff8c1a !important;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
 }

/*
  Azul claro
 */
.NoVivaActivaSite{
    font: bold 12px verdana, sans-serif;
    display: block;
    background-color:#80BFFF !important;
    color:  #C1022C !important;
    width: auto;
    border: 0px solid #C1022C;
    border-radius: 0 5px 0 0;
}

/*
  Rojo claro
  Cambiado a amarillo
 */
/*.InConflict{
    font: bold 12px verdana, sans-serif;
    display: block;
    background-color:#f92a2a !important;
    color:  #ffffff !important;
    width: auto;
    border: 1px solid #C1022C;
    border-radius: 0 5px 0 0;
}
*/
.InConflict{
    font: bold 12px verdana, sans-serif;
    display: block;
    background-color: #ffff99 !important;
    color: #ff8c1a !important;
    width: auto;
    border: 1px solid #C1022C;
    border-radius: 0 5px 0 0;
}

.active{
  display: block;
  background-color: #99FF66  !important;
  color: black;
  width: auto;
  border: 1px solid #C1022C;
  border-radius: 0 5px 0 0;
    animation-name: active_transition;
    animation-duration: 3s;
 }

@keyframes active_transition {
    from {background-color: white;}
    to {background-color: #99FF66;}
}

.divNucleo {
    position:relative;
    padding: 10px;
    border: 1px solid red;
    margin: 0;   
    background-color: white;
    display: block;
    opacity: 1;
    z-index: 200;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    -moz-box-shadow:    11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    box-shadow:         11px 11px 5px 0px rgba(7, 7, 7, 0.75);
}

.divCabeceraNucleo {
    height: 59px;
    position:relative;
    padding: 10px;
    border: 1px solid red;
    margin: 0;   
    background-color: white;
    display: block;
    opacity: 1;
    z-index: 200;
    -webkit-box-shadow: 11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    -moz-box-shadow:    11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    box-shadow:         11px 11px 5px 0px rgba(7, 7, 7, 0.75);
}

.divSlaves{
    position:relative;
    padding: 5px;
    border: 2px solid red;
    margin: 0;   
    /*background-color: white;*/
    display: block;
    opacity: 1;
    z-index: 200;
    /*background: -webkit-gradient(linear, left top, left bottom, from(black), to(gray));*/
}

.footerNucleo{
    font: 12px "Gotham Book", Helvetica, Arial, sans-serif;
    text-align: center;
    color: red;
    position:relative;
    height: 3%;
    margin-top: 10px;   
    background-color: white;
    display: block;
    opacity: 1;
    z-index: 200;
    font-weight: bold;
/*    -webkit-box-shadow: 11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    -moz-box-shadow:    11px 11px 5px 0px rgba(7, 7, 7, 0.75);
    box-shadow:         11px 11px 5px 0px rgba(7, 7, 7, 0.75);
*/
}

.fadeNucleo {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFCCCC), to(transparent));
    -webkit-animation: fade 2s;
    animation: fade 2s;
/*  background-size: 50% 60%;
  background-repeat: no-repeat;
  background-position: right bottom;
*/
}

.fadeFormNucleo {
    -webkit-animation: fade 2s;
    animation: fade 2s;
}

/* -fail- */
@-webkit-keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}@keyframes fade {
    from {opacity: 0}
    to {opacity: 1}
}

.divTab
{
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 25px;
/*  margin: 2em auto; */
}

.divTab section
{
  position: absolute;
  display: block;
/*  left: 10px;
  height: 100%;
  top: 1em;
  width: 305px; */
  padding: 0px 10px;
  background-color: #ededed;
  border: 1px solid #bf2a36;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.1);
  z-index: 0;
}

.divTab section:first-child
{
  z-index: 1;
}

.divTab section h2
{
  position: absolute;
  font-size: 1em;
  font-weight: normal;
  width: 70px;
  height: 1.8em;
  top: -1.9em;
  left: 10px;
  padding: 0;
  margin: 0;
  color: black;
  background-color: #ddd;
  border-radius: 5px 5px 0 0;
}

.divTab section:nth-child(5) h2
{
  left: 308px;
  width: 95px;
}

.divTab section:nth-child(4) h2
{
  left: 226px;
  width: 80px;
}

.divTab section:nth-child(3) h2
{
  left: 154px;
}

.divTab section:nth-child(2) h2
{
  left: 82px;
}

.divTab section h2 a
{
  display: block;
  width: 100%;
  line-height: 1.8em;
  text-align: center;
  text-decoration: none;
  color: inherit;
  outline: 0 none;
}

.divTab section:target,
.divTab section:target h2
{
  color: #bf2a36;
  background-color: #fff;
  z-index: 2;
  border: 1px solid #bf2a36;
  border-style: solid solid none solid;
}

.divTab section,
.divTab section h2
{
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.hide{
    display:none;
}

#dimScreen
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
}

/* Center the loader */
#loading {
    position: absolute;
    left: 40%;
    top: 30%;
    z-index: 1;
    width: 250px;
    height: 50px;
    color: #5a5a5a;
}

#loader {
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -75px 0 0 -75px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #ff7166;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
