//extends ../layout

block gateway
	// - script(type='text/javascript' src='/javascripts/resources.js')
	link(rel='stylesheet', href='/stylesheets/drag.css')
	link(rel='stylesheet', href='/stylesheets/tabs.css')
	link(rel='stylesheet', href='/stylesheets/table.css')

div(id="FormGateway", style="display: none; width: 350px")
	div.menu.fadeNucleo#DivGateways(style="position:relative")
		h3#GatewaysH3(tkey='Gateways')
		input#CfgId(type='hidden')
		table(style='table-layout: fixed;width: 99%')
			tr
				td(style='vertical-align:top;width:345px')
					ul#listGateways.menuList
					div
						table(style="width:100%")
							tr(style="height: 50px", align="center")
								td.New
									a.ButtonNucleo(id="NewGateway", onclick='GetGateway()', style="color1:#bf2a36; width: 80px" tkey='New')
				td(style='vertical-align:top')

div(id="loader" class="hide")
div(id="dimScreen" class="hide")
div(id="loading" class="hide") Cargando contenido...