//extends ./components

block user
	// link(rel='stylesheet', href='/stylesheets/style.css')

	


div(id="FormOperador", style="display: none; width: 1250px")
	div.menu.fadeNucleo#DivOperador(style="position:relative")
		h3(tkey='Users')
		table(style='table-layout: fixed;width: 535px')
			tr
				td(style='vertical-align:top;width:535px')
					ul#listUsers.menuList
					div
						table(style="width:100%")
							tr(style="height: 50px", align="center")
								td
									a.ButtonNucleo(id="NewUser", onclick='GetUsuario(-1)', style="color:#bf2a36; width: 80px" tkey='New')
				td(style='vertical-align:top')
					#AddFormUser.fadeFormNucleo(style='display:none;padding-left:10px')
						.content#DatosUsuario(style='width:300px')
							table(style='border-spacing: 5px 5px')
								tr(style="height: 20px")
									td
										label(tkey='OperatorId')
									td
										input.textbox(id="IdOperador", type="text" onblur='ValidateUser(this,"ErrorOperador")' onfocus='this.oldValue=this.value')
								tr(style="height: 20px")
									td
										label(tkey='Key')
									td
										input.textbox#ClaveUser(type="password")
								tr(style="vertical-align:top")
									td
										label(tkey='AccessLevel')
									td
										div#LbPerfil(style='border:2px solid #ccc')
											table
												tr
													td
														input(type='checkbox'  id='prf_1' class='rol' onclick='OperationExt(this,false)')
													td
														label(tkey='Visual')
												tr
													td
														input(type='checkbox'  id='prf_2' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='Alarma2')
												tr
													td
														input(type='checkbox'  id='prf_8' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='Control')
												tr
													td
														input(type='checkbox'  id='prf_16' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='Gestion')
												tr
													td
														input(type='checkbox'  id='prf_64' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='Administrador')
												tr
													td
														input(type='checkbox'  id='prf_128' class='rol' onclick='OperationExt(this,false)')
													td
														label(tkey='SeeLocalGateway')
												tr
													td
														input(type='checkbox'  id='prf_256' class='rol' onclick='OperationExt(this,false)')
													td
														label(tkey='AdminLocalGateway')
												tr
													td
														input(type='checkbox'  id='prf_512' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='PerfilHistorics')
												tr
													td
														input(type='checkbox'  id='prf_1024' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='PerfilBackup')
												tr
													td
														input(type='checkbox'  id='prf_2048' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='PerfilBocina')
												tr
													td
														input(type='checkbox'  id='prf_4096' class='rol' onclick='OperationExt(this,false)')
													td
														label(tkey='PerfilGestionConfLocal')
												tr
													td
														input(type='checkbox'  id='prf_8192' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='PerfilActualizacionSw')
												//- tr
												//- 	td
												//- 		input(type='checkbox'  id='16384' class='rol' onclick='OperationExt(this,true)')
												//- 	td
												//- 		label(tkey='PerfilConfiguraciones')
												tr
													td
														input(type='checkbox'  id='prf_32768' class='rol' onclick='OperationExt(this,true)')
													td
														label(tkey='PerfilCargaConfiguraciones')
									td
										div#GatewayToOp(style='border:2px solid #ccc;display:block;width:260px;height:400px;alignment:center;')
											ul#listSitesToOp.treeList(style='overflow-y:auto;height:96.5%;alignment:center')
						table(style='width:290px;border-spacing: 20px')
							tr(style="height: 20px", align="center")
								td
									a.ButtonNucleo(id='UpdateUserButton', onclick="PutUser()" , style="width:50px")
								td
									a.ButtonNucleo(id='DeleteUserButton', onclick="DelUsuario()" , style="width:50px" tkey='Remove')
